
@import '../abstract/variables';

.card{
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 0;
    // word-wrap: break-word;
    background-color: $color-white;
    background-clip: border-box;
    border: 0;
    border-radius: .75rem;
    box-shadow: 0 2px 4px 0 rgba(112, 121, 139, .18);

    &__body{
        flex: 1 1 auto;
        padding: 2.5rem 2rem;
    }
}