@import '../abstract/variables';

.select{
    text-transform: inherit;
    font-family: inherit;
    font-size: inherit;
    display: inline-block;
    // width: 100%;
    // height: calc(2.25rem + 2px);
    padding: .5rem 1.75rem .5rem .5rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    // background-image: url('/assets/img/bidsuccess.svg');
    background: #fff url('/assets/img/select.png') no-repeat right .75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}