@import '../abstract/variables';

 .pageheader {
    margin-bottom: 2rem;

    &__title {
      line-height: 1.2;
      font-size: $font-size-large;
      color: $color-primary;
      
      @media all and (min-width: 768px) {
        // font-size: $font-size-extra-large;
        font-size: 3rem;
      }
    }
    &__subtitle{
      color: $color-ash;
    }
  }