@import '../abstract/variables';

table {
  border-collapse: collapse;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;

  .action__btn {
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  &__bordered {
    border: 1px solid $color-ash;

    td,
    th {
      border-top: 1px solid $color-ash;
    }
  }

  &__container {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  thead,
  .thead {
    &__dark {
      th {
        color: $color-white;
        // background-color: $color-deep-black;
        background-color: $color-primary;
        border-color: $color-black;
      }
    }

    th {
      vertical-align: bottom;
      border-bottom: 2px solid $color-ash;
      text-align: left;
      font-size: $font-size-regular-alt;
    }
  }

  .tbody,
  tbody {
    tr {
      font-size: $font-size-regular;
    }
  }

  td,
  th {
    padding: 1rem;
    vertical-align: top;
  }
}
