<div class="sidenav">
  <a class="sidenav__logo" [routerLink]="['/']">
    <img src="assets/img/buba-secondary.png" class="sidenav__logo__img" alt="buba" srcset="">
    <!-- <span class="sidenav__logo__text">buba</span> -->
  </a>
  <div class="sidenav__container">
    <a class="sidenav__item" [routerLink]="['/dashboard']" routerLinkActive="active">
      <i class="pi pi-users sidenav__item__icon"></i>
      <span class="sidenav__item__text text--capital">dashboard</span>
    </a>
    <a class="sidenav__item" [routerLink]="['/customers']" routerLinkActive="active">
      <i class="pi pi-users sidenav__item__icon"></i>
      <span class="sidenav__item__text text--capital">customers</span>
    </a>

    <a class="accordion sidenav__item" [ngClass]="{'active': bidsChild1RLA.isActive || bidsChild2RLA.isActive || bidsChild3RLA.isActive ||  bidsChild5RLA.isActive}">
        <i class="pi pi-ticket sidenav__item__icon"></i>
        <span class="sidenav__item__text text--capital">bids</span>
        <i class="pi pi-angle-right iconRight"></i>
      </a>
      <div class="sidenav__mobilenav">
          <a class="sidenav__item" [routerLink]="['/bids/upload']" routerLinkActive="active" #bidsChild1RLA="routerLinkActive">
          <i class="pi pi-upload sidenav__item__icon"></i>
          <span class="sidenav__item__text text--capital">upload</span>
        </a>
        <a class="sidenav__item" [routerLink]="['/bids/lists']" routerLinkActive="active" #bidsChild2RLA="routerLinkActive">
          <i class="pi pi-list sidenav__item__icon"></i>
          <span class="sidenav__item__text text--capital">bids lists</span>
        </a>
        <a class="sidenav__item" [routerLink]="['/bids/0']"  routerLinkActive="active" #bidsChild3RLA="routerLinkActive">
          <i class="pi pi-list sidenav__item__icon"></i>
          <span class="sidenav__item__text text--capital">open</span>
        </a>
        <!-- <a class="sidenav__item" [routerLink]="['/bids/1']"  routerLinkActive="active" #bidsChild4RLA="routerLinkActive">
          <i class="pi pi-list sidenav__item__icon"></i>
          <span class="sidenav__item__text text--capital">processing</span>
        </a> -->
        <a class="sidenav__item" [routerLink]="['/bids/2']"  routerLinkActive="active" #bidsChild5RLA="routerLinkActive">
          <i class="pi pi-list sidenav__item__icon"></i>
          <span class="sidenav__item__text text--capital">completed</span>
        </a>
      </div>
    <a class="sidenav__item" [routerLink]="['/funding']" routerLinkActive="active">
      <i class="pi pi-money-bill sidenav__item__icon"></i>
      <span class="sidenav__item__text text--capital">funding</span>
    </a>

    <a class="sidenav__item" [routerLink]="['/withdrawals']" routerLinkActive="active">
      <i class="pi pi-money-bill sidenav__item__icon"></i>
      <span class="sidenav__item__text text--capital">withdrawals</span>
    </a>

    <a class="accordion sidenav__item" [ngClass]="{'active': reportsChild1RLA.isActive || reportsChild2RLA.isActive}">
      <i class="pi pi-file sidenav__item__icon"></i>
      <span class="sidenav__item__text text--capital">reports</span>
      <i class="pi pi-angle-right iconRight"></i>
    </a>
    <div class="sidenav__mobilenav">
        <a class="sidenav__item" [routerLink]="['/report/users']"  routerLinkActive="active" #reportsChild1RLA="routerLinkActive">
          <i class="pi pi-list sidenav__item__icon"></i>
          <span class="sidenav__item__text text--capital">user reports</span>
        </a>
        <a class="sidenav__item" [routerLink]="['/report/activity']"  routerLinkActive="active" #reportsChild2RLA="routerLinkActive">
          <i class="pi pi-list sidenav__item__icon"></i>
          <span class="sidenav__item__text text--capital">activity</span>
        </a>
        <a class="sidenav__item" [routerLink]="['/report/funding']"  routerLinkActive="active" #reportsChild2RLA="routerLinkActive">
          <i class="pi pi-list sidenav__item__icon"></i>
          <span class="sidenav__item__text text--capital">funding</span>
        </a>
      </div>


    <a class="accordion sidenav__item" [ngClass]="{'active': settingsChild1RLA.isActive || settingsChild2RLA.isActive}">
      <i class="pi pi-cog sidenav__item__icon"></i>
      <span class="sidenav__item__text text--capital">system</span>
      <i class="pi pi-angle-right iconRight"></i>
    </a>
    <div class="sidenav__mobilenav">
        <a class="sidenav__item" [routerLink]="['/system-users/create']"  routerLinkActive="active" #settingsChild1RLA="routerLinkActive">
          <i class="pi pi-list sidenav__item__icon"></i>
          <span class="sidenav__item__text text--capital">New User</span>
        </a>
        <a class="sidenav__item" [routerLink]="['/system-users']"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" #settingsChild2RLA="routerLinkActive">
          <i class="pi pi-list sidenav__item__icon"></i>
          <span class="sidenav__item__text text--capital">All Users</span>
        </a>
      </div>

    <div class="sidenav__item" (click)="logOut()">
      <i class="pi pi-sign-out sidenav__item__icon"></i>
      <span class="sidenav__item__text text--capital">log out</span>
    </div>
  </div>
</div>
