/////////////////////colours//////////////////

// $color-primary:#258903;
// $color-primary: #d62828;
$color-primary: #258903;
$color-grey:#4A4A4A;
$color-black:#5A5A5A;
$color-ash:#AEAEB3;
$color-white:#ffffff;
$color-off-white:#D8D8D8;
$color-off-black:#f7f7f7;
$color-deep-black:#3f474e;
// $color-danger:#ff4d4f;
// $color-green:#6FCF97;
$color-green: #689F38;
$color-danger: #D32F2F;
$color-info: #0288D1;
$color-yellow: #fcc22f;
$light-background: #fcfdff;
$app-background: #ddd;

/////////////////////////font size////////////////////////////

$font-size-extra-large: 3.5rem;
$font-size-large: 2.4rem;
$font-size-medium:1.8rem;
$font-size-regular:1.4rem;
$font-size-regular-alt:1.5rem;
$font-size-semi-small: 1.2rem;
$font-size-small: 1.1rem;
$font-size-tiny:0.9rem;


