<div class="bids">
  <div class="bids__container">
    <div class="pageheader">
      <h1 class="pageheader__title text--capital">
        bids upload
      </h1>
    </div>
    <div class="pagebody bids__body">

      <div class="card">
        <div class="card__body">
         <div class="text--right">
            <button class="button button--primary text--capital button--raised" (click)="showUploadModal()">select file</button>
              <div class="p-grid p-mt-5">
                  <div class="p-col">
                    <div class="text--left p-mb-2" *ngIf="bidsUpload && bidsUpload.length">
                        <button class="button button--primary text--capital button--raised" (click)="uploadBids()">upload bids</button>
                    </div>
                    <div class="table__container">
                        <table class="table table__bordered">
                          <thead class="thead__dark">
                            <tr>
                              <th scope="col">S/No</th>
                              <th>Category</th>
                              <th>Product Name</th>
                              <th>Product Image</th>
                              <th>Price</th>
                            </tr>
                          </thead>
                          <tbody>
                            <ng-container *ngIf="bidsUpload && bidsUpload.length">
                              <tr *ngFor="let bid of bidsUpload; let i = index">
                                  <td class="text--left">{{i + 1}}</td>
                                  <td class="text--left">{{bid.CATEGORY | titlecase}}</td>
                                  <td class="text--left">{{bid.PRODUCT_NAME | titlecase}}</td>
                                  <td class="text--left">{{bid.PRODUCT_IMAGE | titlecase}}</td>
                                  <td class="text--left">{{bid.PRICE |  currency:'₦'}}</td>
                                </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>
                  </div>
              </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Upload Bids" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div class="text--center">
        <input type="file" (change)="onChangeFile($event)" style="display:none" type="file" #file
    accept=".xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
    <p class="text--large text--primary p-mb-3">
        {{filename}}
    </p>
    <button class="button p-mt-2 button--primary text--capital button--raised" (click)="file.click()">select file</button> 
    </div>
        <ng-template pTemplate="footer">
            <button [disabled]="!fileSelected" class="button button--primary text--capital button--raised" (click)="uploadFile(file)">
                upload file</button>       
         </ng-template>
</p-dialog>