@import '../../../../../styles/abstract/variables';

.topnav {
    background-color: $color-white;
    position: fixed;
    width: calc(100% - 22rem);
    top: 0;
    z-index: 1015;
    //   box-shadow: 0 0 4px rgba(0, 0, 0, .25);
  
    .hamburger {
      display: inline-block;
      cursor: pointer;
      transform: scale(.85);
  
      &__bar {
        width: 30px;
        height: 5px;
        background-color: $color-grey;
        border-radius: 5px;
        margin: 4px 0;
        transition: 0.4s;
      }
  
      &.active {
  
        .hamburger__bar__top {
          -webkit-transform: rotate(-45deg) translate(-9px, 5px);
          transform: rotate(-45deg) translate(-9px, 5px);
        }
  
        .hamburger__bar__middle {
  
          opacity: 0;
        }
  
        .hamburger__bar__bottom {
          -webkit-transform: rotate(45deg) translate(-7px, -4px);
          transform: rotate(45deg) translate(-7px, -4px);
        }
      }
    }
  
  
  
    &__container {
      height: 5rem;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 2rem;
      margin-left: auto;
      margin-right: auto;
  
      // @media (min-width: 576px){
      //     width: 540px;
      // }
  
    //   @media (min-width: 768px) {
    //     width: 95%;
    //   }
  
    //   @media (min-width: 1600px) {
    //     width: 1400px;
    //   }
  
    //   @media (min-width: 1800px) {
    //     width: 1600px;
    //   }
    }
  
    &__item {
  
      @media all and (min-width: 768px) {
        margin-left: 2rem;
      }
  
      &:first-child {
        margin-left: 0;
      }
  
      &__logo {
        img {
          width: 10rem;
        }
      }
  
      &__button {
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: .5rem;
        font-weight: normal;
        background-color: $color-primary;
        color: $color-white;
        border-radius: .35rem;
        border: .1rem solid $color-primary;
        transition: all .3s ease-in-out;
  
        &__text {
          display: inline-block;
          font-size: $font-size-regular-alt;
          position: relative;
          transition: all .3s ease-in-out;
  
          &::after {
            content: '\2192';
            position: absolute;
            opacity: 0;
            top: 0;
            right: 0;
            transition: all .3s ease-in-out;
          }
        }
  
        &:hover {
          .topnav__item__button__text {
            padding-right: 2rem;
  
            &::after {
              opacity: 1;
              right: 0;
            }
          }
        }
      }
  
    }
  
    &__left {
      display: flex;
      align-items: center;
    }
  
    &_right {
      margin-left: auto;
      display: flex;
      align-items: center;
  
  
    }
  
  
    .user {
      display: flex;
      flex-direction: column;
      margin: 0 1rem;
      font-size: 1.25rem;
      text-transform: capitalize;
  
      i {
        font-size: 1.25rem;
      }
  
      &__name {
        font-size: $font-size-medium;
      }
  
      &__balance {
        font-weight: bold;
  
        &__refresh {
          cursor: pointer;
        }
      }
    }
  }
  